body {
    font: sans-serif;
}

table {
    border-collapse: collapse;
}

td, th {
    border: 0;
    padding: 0.5rem;
    text-align: left;
}

.agenda-header {
    background-color: darkcyan;
    color: white;
}

.agenda-header p {
    font-size: 36px;
    padding-left: 20px;
}
