<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <link rel="stylesheet" type="text/css" href="/main.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <title>My Awesome Search Page</title>
</head>
<body>

<div class="agenda-header">
    <p>Results: Searching the Agenda By Title...</p>
</div>
<div class="container">

    <div th:if="${#lists.isEmpty(events)}">
        <h3>Sorry no search results found. Try entering another keyword? Or simply <a th:href="@{/agenda}">go back</a>
        </h3>
    </div>

    <div th:unless="${#lists.isEmpty(events)}">
        <h3>Found some results! If you want, you can <a th:href="@{/agenda}">go back</a></h3>

        <div th:replace="tableFragment :: table"></div>
    </div>
    <div th:if="${pagination != null}">
        <div th:if="${pagination.totalPages != 1}">
            <div>
                <span th:text="|Page ${pagination.number+1} of ${pagination.totalPages}|"/>
            </div>
            <div th:if="${pagination.number &gt; 0}">
                <a th:href="@{/search(page=${pagination.number-1},,title=${title})}">previous Page</a>
            </div>
            <div th:if="${pagination.number + 1 &lt; pagination.totalPages}">
                <a th:href="@{/search(page=${pagination.number+1},title=${title})}">next Page</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>